<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../includes/content-head.ejs") %>
    <%- include("../includes/content-title.ejs") %>
</head>
<body>
  <header class="main-header">
    <%- include("../includes/content-nav.ejs") %>
  </header>
  <main>
    <% if(products.length> 0) { %>
      <div class="grid">
        <% for (let product of products) { %>
          <article class="card product-item">
            <header class="card__header">
              <h1 class="product__title">
                <%= product.title %>
              </h1>
            </header>
            <div class="card__image">
              <img src="<%= product.imageUrl %>" alt="<%= product.title %>" />
            </div>
            <div class="card__content">
              <h2 class="product__price">
                $<%= product.price %>
              </h2>
              <p class="product__description">
                <%= product.description %>
              </p>
            </div>
            <div class="card__actions">
              <% if (isAuthenticated) { %>
                <%- include("../includes/gadgets/add-to-cart-button.ejs", {product}) %>
                  <% } %>
            </div>
          </article>
          <% } %>
      </div>
      <% } else { %>
        <h1>No Products!</h1>
        <% } %>
  </main>
</body>
</html>