<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../includes/content-head.ejs") %>
    <%- include("../includes/content-title.ejs") %>
</head>
<body>
  <header class="main-header">
    <%- include("../includes/content-nav.ejs") %>
  </header>
  <main>
    <%- include("../includes/gadgets/flash-message.ejs") %>
    <% if(products.length> 0) { %>
      <div class="grid">
        <% for (let product of products) { %>
          <article class="card product-item">
            <header class="card__header">
              <h1 class="product__title">
                <%= product.title %>
              </h1>
            </header>
            <div class="card__image">
              <img src="<%= product.imageUrl %>" alt="<%= product.title %>" />
            </div>
            <div class="card__content">
              <h2 class="product__price">
                $<%= product.price %>
              </h2>
              <p class="product__description">
                <%= product.description %>
              </p>
            </div>
            <div class="card__actions">
              <form action="/admin/edit-product/<%= product._id %>" method="get">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn" type="submit">Edit</button>
              </form>
              <form action="/admin/delete-product/<%= product._id %>" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn" type="submit">Delete</button>
              </form>
            </div>
          </article>
          <% } %>
      </div>
      <% } else { %>
        <h1>No Products!</h1>
        <% } %>
  </main>
</body>
</html>