<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../includes/content-head.ejs") %>
    <%- include("../includes/content-title.ejs") %>
</head>
<body>
  <header class="main-header">
    <%- include("../includes/content-nav.ejs") %>
  </header>
  <main>
    <% if (editMode) { %>
      <form class="form-main" action="/admin/edit-product" method="POST">
        <% } else { %>
          <form class="form-main" action="/admin/add-product" method="POST">
            <% } %>
              <div class="form-group">
                <label class="form-control" for="title">Title:</label>
                <input class="form-control" type="text" name="title" id="title"
                  value="<% if (editMode) { %> <%= product.title %> <% } %>" required>
              </div>
              <div class="form-group">
                <label class="form-control" for="imageUrl">Image URL:</label>
                <input class="form-control" type="text" name="imageUrl" id="imageUrl"
                  value="<% if (editMode) { %> <%= product.imageUrl %> <% } %>" required>
              </div>
              <div class="form-group">
                <label class="form-control" for="price">Price:</label>
                <input class="form-control" type="number" min="0" name="price" id="price" step="0.01"
                  value="<% if (editMode) { %> <%= product.price %> <% } %>" required>
              </div>
              <div class="form-group">
                <label class="form-control" for="description">Description:</label>
                <textarea class="form-control" cols="30" rows="10" name="description" id="description" required>
                  <% if (editMode) { %>
                    <%= product.description %>
                      <% } %>
                </textarea>
              </div>
              <div class="form-group">
                <% if (editMode) { %>
                  <button class="form-control" type="submit">Edit Product</button>
                  <% } else { %>
                    <button class="form-control" type="submit">Add Product</button>
                    <% } %>
              </div>
          </form>
  </main>
</body>
</html>